* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rockwell";
    background-color: #DB89A7;
}

body{
    min-height: 100vh;
    background-color: #FFE6EF;
}

nav {
    width: 100%;
    background-color: #DB89A7;
    color: white;
    padding: 1em 2em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
}

a:visited{
    text-decoration: none;
    list-style: none;
}

.nav-links{
    display: flex;
    gap: 2em;
    list-style: none;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.nav-links:hover{
    transform: scale(1.1);
}
nav > h2{
    transition: 0.2s ease-in-out;
}
nav > h2:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
    border-radius: 2em;
    padding: 4em 3em;
    margin: 4em auto;
    margin-top: 4em; 
    max-width: 700px;
}

.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
    border-radius: 2em;
    padding: 4em 3em;
    margin: 4em auto;
    max-width: 700px;
}

h1{
    font-size: 3em;
}

.timer{
    font-size: 5em;
    font-weight: 600;
}

.button-wrapper{
    display: flex;
    gap: 1em;
}

.timer-button{
    font-size: 2em;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    color: #DB89A7;
    background-color: #FFE6EF;
    cursor: pointer;    
    transition: 0.2s ease-in-out;
    border: none;
}

button:hover{
    transform: scale(1.1);
}

#start{
    color: #386A44;
}
#stop{
    color: #9E364C; 
}

#reset{
    color: #423e40;
}

.timer-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#userInput{
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid #DB89A7;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

#userInput:focus{
    outline: none;
    border-color: white;
}

.todo-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 0.5em;
    background-color: #FFE6EF;
    margin-bottom: 1em;
    width: 500px;
    max-width: 500px;
    margin-top: 20px;
}

#add-button{
    cursor: pointer;
    border: none;
    border-radius: 2em;
    width: 40px;
    height: 30px;
    transition: 0.2s ease-in-out;
}

#input-text{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

#list-container > li{
    list-style: none;
    font-size: 1.2em;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;   
    border-radius: 50%;
    background-image: url(images/checkmark.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}